body{
    font-family: 'Press Start 2P', cursive;
    background-color: darkred;
}

ul{
    margin-left: 1em;
    padding: 0;
    list-style: none
}

.red{
    background-color: red;
}

.light-container{
    border-radius: 15px;
}

.name{
    font-size: 3em;
}


