{% extends "pokeinfo/base.html" %}

{% block title %}
    <title>
        {{ pokemon.name }} | PokéInfo
    </title>
{% endblock %}

{% block content %}
    <div class="container-fluid p-3">
        <div class="row justify-content-md-center p-3">
            <div class="col-md-8">
                <div class="row text-center red text-white">
                    <div class="col-md-3 red text-white">
                        <img src="{{ pokemon.sprites.0 }}" alt="front pokemon image">
                    </div>
                    <div class="col-md-6 mt-2">
                        <p class="name mt-2">{{ pokemon.name }}</p>
                        {% for pokemon in evolution_list %}
                            {{ pokemon }}
                        {% endfor %}

                    </div>
                    <div class="col-md-3">
                        <img src="{{ pokemon.sprites.1 }}" alt="back pokemon image">
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-6 pb-3 red text-white">
                   <p>Height: {{ pokemon.height }}</p>
                        <p>Weight: {{ pokemon.weight }}</p>
                        <p>Base experience: {{ pokemon.base_experience }}</p>
                        <div>
                            <p>Stats:</p>
                            {% for stat in pokemon.stats %}
                                <ul>
                                    <li>{{ stat.0 }}: {{ stat.1 }}</li>
                                </ul>
                            {% endfor %}
                        </div>
                   </div>
                    <div class="col-md-6 pb-3 red text-white">
                        <div>
                            <p>Type:</p>
                            {% for type in pokemon.types %}
                                <ul>
                                    <li>{{ type }}</li>
                                </ul>
                           {% endfor %}
                        </div>
                        <div>
                            <p>Abilities:</p>
                            {% for ability in pokemon.abilities %}
                                <ul>
                                    <li>{{ ability }}</li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
